rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /availability/{document=**} {
      allow read, write: if request.auth != null;
    }

    match /matches/{matchId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && isAdmin();
      allow delete: if request.auth != null && isAdmin();
      allow update: if request.auth != null && (
        isAdmin() || 
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['checkedInPlayers', 'onMyWayPlayers']))
      );
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      // User can create their own profile
      allow create: if request.auth != null && request.auth.uid == userId;
      // User can update own, Admin can update all
      allow update: if request.auth != null && (request.auth.uid == userId || isAdmin());
      // Only Admin can delete
      allow delete: if request.auth != null && isAdmin();
    }
  }
}
